<!-- leaderboard component -->
<script>var rank = 1;</script>
<table class="w-full text-white text-center">
	<tr class="bg-black/90">
		<th>Rang</th>
		<th>Name</th>
		<th>Zeit</th>
		<th>Punktzeit</th>
	</tr>
	{% for data in dataset %}
	<tr class="{{ 'bg-Lightblue/75' if user_id==data['ID'] else 'bg-black/70' }}">
		<td class="py-2" id="{{ data['ID'] }}"></td>
		<td class="">{{ data['username'] }}</td>
		<td class="">{{ data['time'] }}</td>
		<td class="">{{ data['score'] }}</td>
	</tr>
	<script>
		document.getElementById("{{ data['ID'] }}").innerHTML = rank;
		rank++;
	</script>
	{% endfor %}
</table>
<style>
	::-webkit-scrollbar {
		display: none;
	}
</style>