{# templates/base.html #}
<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<title>TEC Schnitzeljagd</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		tailwind.config = {
			theme: {
				fontFamily: {
					'sans': ['Segoe UI', 'sans-serif']
				},
				extend: {
					colors: {
						"Darkgray": "#707070",
						"Lightgray": "#d0d0d0",
						"Darkblue": "#0d3174",
						"Lightblue": "#638EBD",
						"Darkgreen": "#6C955E",
						"Lightgreen": "#94C11C"
					}
				}
			}
		}
	</script>
</head>

<body style="overflow-x: hidden;">
	{% block content %}{% endblock %}
</body>

</html>