{# templates/base.html #}
<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<title>TEC Schnitzeljagd</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="/static/output.css" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">
	{% block content %}{% endblock %}
	<script>
		function goEnd(){
			location.href = "{{url_for('end')}}";
		}
	</script>
	<script src="{{ url_for('static', filename='timer.js') }}"></script>
</body>
</html>