{% extends "base.html" %}
{% block content %}
<div class="px-2 flex flex-col w-screen h-screen bg-center bg-cover bg-no-repeat"
	style="background-image: url('/static/raw_bg.png');">
	<div class="w-full h-full flex flex-col justify-center gap-8 text-white">
		<div class="w-full backdrop-blur-sm">
			<h1 class="py-1 bg-black/90 text-lg text-center rounded-t-lg">Zeit</h1>
			<p class="py-4 bg-black/70 text-center rounded-b-lg">{{ time }}</p>
		</div>
		<div class="w-full backdrop-blur-sm">
			<h1 class="py-1 bg-black/90 text-lg text-center rounded-t-lg">Richtige Antworten</h1>
			<p class="py-4 bg-black/70 text-center rounded-b-lg">{{ right_answers }}/{{ quiz_length }}</p>
		</div>
		<div class="w-full backdrop-blur-sm">
			<h1 class="py-1 bg-black/90 text-lg text-center rounded-t-lg">Gesamtpunktzahl</h1>
			<p class="py-4 bg-black/70 text-center rounded-b-lg">{{ score }}</p>
		</div>
	</div>
	<button class="btn-green mb-2" type="button" onclick="location.href='/leaderboard';">Zum Leaderboard</button>
</div>
<script>
	localStorage.setItem("start_timer", "0");
	localStorage.setItem("right_answers", "0");
	localStorage.setItem("answered_questions", "0");
</script>
{% endblock %}