{% extends "base.html" %}
{% block content %}
<div class="grid grid-col-[auto,1fr,auto] px-2 bg-gradient-to-b from-Lightblue to-Darkblue w-screen h-screen">
	<div class="mb-auto">
		{% include '_timer_.html' %}
	</div>

	<div class="flex flex-col text-white text-center">
		<h1 class="w-full mb-auto py-2 bg-black/90 text-lg font-semibold rounded-t-lg">Hinweis</h1>
		<p class="h-full flex items-center justify-center bg-black/70 rounded-b-lg text-center">{{ error }}</p>
	</div>

	<button onclick="location.href='/zwischenBildschirm';" type="button"
		class="btn-green mt-auto mb-2">
		Weiter
	</button>
</div>
{% endblock %}