{% extends "base.html" %}
{% block content %}
    <div class="flex-col flex justify-center items-center bg-gradient-to-b from-Lightblue to-Darkblue w-screen h-screen">
        <div class="flex flex-col justify-center w-3/4 h-2/4 rounded-lg bg-black backdrop-blur-sm"
            style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="flex justify-center items-center h-1/5 rounded-t-lg"
                style="background-color: rgba(0, 0, 0, 0.5);">
                <h3 class="text-white  p-5 text-2xl">Hinweis</h3>
            </div>
            <div class="flex justify-center items-center text-center h-4/5">
                <p class="text-white text-2xl">{{error}}</p>
            </div>
        </div>
        <button onclick="redirectUser()"
            class="m-4 hover:drop-shadow-xl w-3/4 p-3 bg-Lightgreen opacity-90 backdrop-blur-lg text-white rounded-md text-xl">Weitermachen</button>
    </div>
    <script>
        function redirectUser(){
            location.replace("http://localhost:5000/scan");
        }
    </script>
{% endblock %}