{% extends "base.html" %}
{% block content %}
<div class="grid grid-rows-1 w-screen h-screen bg-center bg-cover bg-no-repeat"
	style="background-image: url('/static/raw_bg.png');">
	<div class="flex justify-center items-center h-full">
		<div class="flex flex-col py-8 rounded-lg bg-black backdrop-blur-sm"
			style="background-color: rgba(0, 0, 0, 0.7);">
			<div class="flex justify-center items-center h-1/5 rounded-t-lg"
				style="background-color: rgba(0, 0, 0, 0.5);">
				<h3 class="text-white p-5 text-xl">TEC-Schnitzeljagd</h3>
			</div>
			<div class="flex flex-col justify-center items-center text-center h-4/5">
				<div class="h-1/2 w-full flex justify-center items-center">
					<p class="text-white text-base">
						Suche im TEC nach versteckten QR-Codes, scanne sie und beantworte die Fragen.
					</p>
				</div>
				<form action="{{ url_for('start') }}" class="h-1/2 w-full flex flex-col justify-center items-center"
					id="start-form" method="post">
					<input name="username" id="username_input" type="text" placeholder="Benutzername"
						class="bg-black shadow text-lg appearance-none border-2 rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">
					<p class="text-sm" id="hint">&nbsp;</p>
				</form>
			</div>
		</div>
	</div>

	<div class="">
		<button disabled id="start_use" onclick="redirectUser()" class="nav-btn">
			Starte die Reise
		</button>
	</div>
</div>

<script src="/static/user-validation.js"></script>
<script>
	var user_input = document.getElementById("username_input");

	user_input.addEventListener("keyup", function() {
		validateUser("/validUser", user_input);
	});

	function redirectUser() {
		if (localStorage.getItem("start_timer") == "0") {
			// start timer
			localStorage.setItem("start_timer", "1");
			localStorage.setItem("start_time", Math.floor(Date.now() / 1000));
			var min = parseInt("{{ max_min }}");
			var max_time = min * 60;
			localStorage.setItem("max_time", max_time);

			document.getElementById("start-form").submit();
		}
	}
</script>
{% endblock %}