{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center absolute top-0 w-full h-1/12">
    <div class="bg-Darkblue w-1/3 h-full text-center text-white rounded-b-lg">
        <p class="text-lg text-center font-semibold"><span id="time">0:00</span></p>
    </div>
</div>
<div class="flex flex-col img-bg w-screen h-screen bg-center bg-cover bg-no-repeat">
    <style>
        .img-bg {
            background-image: url("{{url_for('static', filename='raw_bg.png')}}");
        }
    </style>

    <div class="flex justify-center items-center w-full h-full">
        <div class="flex flex-col justify-center w-3/4 h-2/4 rounded-lg bg-black backdrop-blur-sm"
            style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="flex justify-center items-center h-1/5 rounded-t-lg"
                style="background-color: rgba(0, 0, 0, 0.5);">
                <h3 class="text-white  p-5 text-2xl">TEC-Schnitzeljagd</h3>
            </div>
            <div class="flex justify-center items-center text-center h-4/5">
                <p class="text-white text-2xl">Suche im TEC nach versteckten QR-Codes, scanne sie und beantworte die
                    Fragen.</p>
            </div>
        </div>
    </div>

    <div class="nav-btn-div">
        <button onclick="redirectUser()" class="nav-btn">Starte die Reise</button>
    </div>
    <form id="start-form" style="display: none;" action="{{ url_for('start') }}" method="post"></form>
</div>
<script>
    function redirectUser() {
        if (localStorage.getItem("start_timer") == "0") {
            localStorage.setItem("start_timer", "1")
            localStorage.setItem("max_sec", "{{ max_sec }}");
            localStorage.setItem("max_min", "{{ max_min }}");
        }
        document.getElementById("start-form").submit();
    }
</script>
{% endblock %}