{% extends "base.html" %}
{% block content %}
<div class="raw-bg w-screen h-screen flex justify-center items-center bg-center bg-cover bg-no-repeat">
    <style>
        .raw-bg {
            background-image: url("{{url_for('static', filename='question_bg.jpg')}}");
        }
    </style>
    <div class="text-white w-3/4 h-3/4 flex flex-col overflow-x-hidden overflow-y-auto max-h-5/6 backdrop-blur-sm p-1 rounded-lg"
        style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="grid grid-cols-4 gap-4 mb-4">
            <div class="leaderboard-th">Rang</div>
            <div class="leaderboard-th">Name</div>
            <div class="leaderboard-th">Zeit</div>
            <div class="leaderboard-th">Punktzahl</div>
        </div>
        <script>
            var counter = 1;
        </script>
        {% for dataset in data %}
        <div class="grid grid-cols-4 gap-4 h-16 rounded-lg">
            <div id="{{ dataset['ID'] }}" class="flex justify-center items-center"></div>
            <div class="leaderboard-td">{{ dataset['username'] }}</div>
            <div class="leaderboard-td">{{ dataset['time'] }}</div>
            <div class="leaderboard-td">{{ dataset['score'] }}</div>
        </div>
        <script>
            document.getElementById("{{ dataset['ID'] }}").innerHTML = counter;
            counter++;
        </script>
        {%endfor%}
    </div>
    <div class="nav-btn-div">
        <button onclick="goHome()" class="nav-btn">Home</button>
    </div>
</div>
<script>
    function goHome() {
        window.location.href = "{{ url_for('index') }}"
    }
</script>
<style>
    ::-webkit-scrollbar {
        display: none;
    }
</style>
{% endblock %}