{% extends "base.html" %}
{% block content %}
<div class="px-4 grid grid-rows-[auto,auto,1fr,auto] bg-gradient-to-b from-Lightblue to-Darkblue w-screen h-screen">
	<div class="mb-auto">
		{% include '_timer_.html' %}
	</div>

	<div class="my-4 relative h-6 bg-Lightgray rounded-lg">
		<div id="progress-bar" class="w-0 h-6 absolute bg-Lightgreen rounded-md"></div>
		<p class="absolute right-0 pt-1 mr-2 font-semibold leading-none">
			<span id="count"></span>/{{ quiz_length }}
		</p>
	</div>

	<div class="flex flex-col justify-center">
		<div id="question-box" class="h-48 flex items-center justify-center bg-no-repeat bg-bottom bg-cover rounded-lg"
			style="background-image: url('/static/raw_bg.png');">
			<h2 id="question"
				class="w-full m-2 text-center text-xl font-semibold text-white backdrop-contrast-50 rounded">
				{{ json['question'] }}
			</h2>
		</div>
	</div>

	<div class="mt-auto mb-8">
		<div class="flex flex-col gap-2">
			{% for i in range(4) %}
				<button id="{{ i }}"
						class="w-full py-2 bg-Lightgray font-semibold rounded-lg" type="button"
						onclick="submitButton('{{ i }}')">
					{{ json['answers'][i] }}
				</button>
			{% endfor %}
			<button id="next_question" type="button" onclick="submitAnswer()"
				class="w-full py-2 bg-Mediumblue font-semibold text-white rounded-lg" hidden>
				Weiter
			</button>
		</div>
	</div>
</div>

<!-- This is ugly, but you know what they say: "dont touch a running system" -->
<form hidden id="answerForm" action="/handle_answer" method="post">
	<input id="answer" name="answer" value="">
	<input name="qr-id" value="{{ qr_id }}">
</form>

<script>
var solution = "{{ json['solution'] }}";
var max_questions = parseInt("{{ quiz_length }}");
var answered_questions = localStorage.getItem("answered_questions");
var question = document.getElementById("question");
var submitted = false;

document.getElementById("count").innerText = localStorage.getItem("answered_questions");
document.getElementById("progress-bar").style.width = setProgressBar();

function setProgressBar() {
	return String(answered_questions/max_questions*100) + "%";
}

function submitButton(buttonValue) {
	// only called once
	if (!submitted) {
		submitted = true;
		var btn = document.getElementById(buttonValue);
		
		// check solution 
		if (solution == buttonValue) {
			question.innerHTML = "Richtig!";
			document.getElementById(solution.toString()).classList.add("bg-[forestgreen]");
			document.getElementById("answer").value = 1;
			var right_answers = localStorage.getItem("right_answers");
			right_answers++;
			localStorage.setItem("right_answers", String(right_answers));
		} else {
			question.innerHTML = "Falsch!";
			document.getElementById("question-box").classList.add("grayscale");
			document.getElementById(buttonValue.toString()).classList.add("bg-red-600");
			document.getElementById(solution.toString()).classList.add("bg-[forestgreen]");
			document.getElementById("answer").value = 0;
		}
		answered_questions++;
		localStorage.setItem("answered_questions", String(answered_questions));

		document.getElementById("progress-bar").style.width = setProgressBar();
		document.getElementById("count").innerText = answered_questions;
		document.getElementById("next_question").removeAttribute("hidden");
	}
}
function submitAnswer(){
	document.getElementById("answerForm").submit();
}
</script>
{% endblock %}