{% extends "base.html" %}
{% block content %}

<div class="flex w-screen h-screen flex-col bg-gradient-to-b from-Lightblue to-Darkblue">
    <div class="w-screen h-2/5 overflow-hidden flex justify-center items-center">
        <div style="background-image: url({{url_for('static', filename='question_bg.jpg')}})"  class="bg-center bg-cover flex justify-center items-center text-center rounded-xl w-4/5 h-3/4">
            <h2 class="text-white font-bold text-5xl font-roboto">Wie viele Schrauben hat das TEC?</h2>
        </div>
    </div>
    <div class="w-screen h-3/5 absolute bottom-0">
        <form id="answerForm" action="{{ url_for('handle_data') }}" method="post" class="flex flex-col gap-y-24 w-full h-full justify-center items-center">
            <input type="hidden" id="buttonClicked" name="buttonClicked" value="">
            {%for i in range(4)%} 
                    <button  type="button" onclick="submitButton('{{i}}')" class="{{btn_style}}">{{content[i]}}</button>
            {%endfor%} 
        </form>
    </div>
</div>
<script>
    function submitButton(buttonValue) {
        document.getElementById("buttonClicked").value = buttonValue;
        document.getElementById("answerForm").submit();
    }
</script>
{% endblock %}
