{% extends "base.html" %}
{% block content %}
    <script src="/static/qr-scanner.umd.min.js"></script>
    <video id="videoElem"></video>

    <script>
        const QRscanner = new QrScanner(
            document.getElementById('videoElem'),
            result => location.href("http://localhost:5000/question/" + result.data),
            {
                maxScansPerSecond: 4,
                highlightScanRegion: true,
                highlightCodeOutline: true
            }, // or `returnDetailedScanResult: true´ for no options
        );
        QRscanner.setInversionMode("both");
        QRscanner.start();
    </script>
{% endblock %}
