{% extends "base.html" %}
{% block content %}
	<div class="grid grid-rows-[auto,1fr,auto] bg-gradient-to-b from-Lightblue to-Darkblue w-screen h-screen">
		<!-- Timer -->
		{% include '_timer_.html' %}

		<!-- QR icon -->
		<div class="grid place-items-center">
			<img src="/static/qrcode.png" class="w-3/4 max-w-[16rem] max-h-[16rem]">
			<p class="text-white text-center self-start mx-4">
				Suche den nächsten QR-Code und klicke auf "Kamera", um ihn einzuscannen.
			</p>
		</div>

		<!-- Bottom -->
		<div class="mx-4 max-w-screen">
			<div class="relative h-6 bg-Lightgray rounded-lg">
				<div class="w-0 h-6 absolute bg-Lightgreen rounded-md"></div>
				<p class="absolute right-0 pt-1 mr-2 font-semibold leading-none">{{ score }}</p>
			</div>

			<div class="my-4 h-12 text-white flex gap-4">
				<button class="flex-auto inline-flex items-center bg-gradient-to-b from-Lightgreen to-Darkgreen shadow-xl rounded-lg"
						onclick="location.href='/scan'">
					<img src="/static/video-camera.svg" class="h-full ml-2 invert">
					<span class="w-full text-center">Kamera</span>
				</button>
				<button class="flex-auto inline-flex items-center bg-[#254a6f] shadow-xl rounded-lg"
						onclick="endSession()">
					<img src="/static/x-mark.svg" class="h-full ml-2 invert">
					<span class="w-full text-center">Beenden</span>
				</button>
			</div>
		</div>
	</div>

	<script>
		function endSession() {
			if (!confirm("Willst du die Sitzung wirklich beenden?")) {
				return; // do nothing if the user cancels
			}

			// set end timestamp and abort
			localStorage.setItem('end_time', Date.now() / 1000);
			location.href = "/abort";
		}
	</script>
{% endblock %}
